@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --bgcolor: #3f366c;
    --maincolor: #e9e9e9;
    --hovercolor: #fff;
    --outoffocus: #cccccc;
}

/*
    #52796f
    #b392ac
    #781c2c
    #5c5dc3
    #5cc3b2
    #8bc35c
    #b1ae8b
    #404038
    #040032
    #202020
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bgcolor);
    font-family: 'Roboto', sans-serif;
    color: var(--bgcolor);
}

.content {
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    /* animation: alarme 1s ease 0s infinite; */
}

.abas {
    width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abas h2 {
    display: inline-block;
    padding: 10px 0;
    width: 30%;
    text-align: center;
    border-radius: 25px 25px 0 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
    background-color: var(--outoffocus);
    box-sizing: border-box;
    color: var(--bgcolor);
    user-select: none;
    cursor: pointer;
    font-weight: bolder;
    transform: translateY(0);
    transition: 0.3s;
    height: 35px;
    position: relative;
    z-index: 1;
}

.abas h2.selected {
    transform: translateY(5px);
    letter-spacing: 5px;
    border-bottom: 0;
    background-color: var(--maincolor);
    color: var(--bgcolor);
}

.sessao {
    display: none;
}

.sessao.selected {
    display: flex;
    flex-direction: column;
}

.sessao h1 {
    font-size: 600%;
    padding-top: 100px;
}

.sessao h1 span {
    font-size: 70px;
}

.sessao h2 {
    margin-top: 30px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.temporizador h1 {
    padding-top: 50px;
    margin-bottom: 10px;
}

.temporizador .volumecontainer {
    padding-top: 25px;
    width: fit-content;
    margin: auto;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temporizador .volumecontainer .slidercontainer {
    width: fit-content;
    margin: 0 20px;
    position: relative;
}

.temporizador .volumecontainer #volumeslider {
    width: 300px;
    height: 5px;
    border-radius: 10px;
    appearance: none;
    background-color: var(--bgcolor);
}

.temporizador .volumecontainer #volumeslider::-webkit-slider-thumb {
    appearance: none;
    border-radius: 50%;
    width: 15px; height: 15px;
    background-color: var(--bgcolor);
}

.temporizador .volumecontainer #volumedisplay {
    transition: transform 0.2s;
    display: block;
    width: 34px;
    height: fit-content;
    padding: 8px;
    border-radius: 4px;
    color: white;
    font-size: 8px;
    text-align: center;
    background-color: var(--bgcolor);
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -5.5%;
    user-select: none;
    transform: scale(0);
    overflow: hidden;
}

.temporizador .volumecontainer i {
    font-size: 20px;
}

.temporizador .buttonlist i {
    display: none;
}

.temporizador .buttonlist .play {
    display: inline-block;
}

.sessao .seletores {
    /* border: 1px solid red; */
    width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sessao .seletores div {
    /* border: 1px solid green; */
    width: 100px;
}

.sessao .seletores label {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sessao .seletores input {
    width: inherit;
    height: 35px;
    text-align: center;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    background-color: var(--bgcolor);
    color: white;
}

.sessao .seletores input::placeholder {
    color: white;
}

.sessao .buttonlist {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 60px;
    text-align: center;
    
}

.sessao .buttonlist i {
    transition: 0.2s;
    cursor: pointer;
    width: 60px;
}

.container {
    background-color: var(--maincolor);
    border-radius: 25px;
    width: 700px;
    height: 400px;
    margin: auto;
    margin-top: -1px;
    text-align: center;
    z-index: 99;
    position: relative;
}

.cronometro {
    max-height: 100%;
}

.cronometro h1 {
    padding-top: 00px;
    font-size: 100px;
    margin-top: 40px;
}

.cronometro .buttonlist {
    flex-grow: 1;
}

.cronometro i {
    font-size: 30px;
}

.cronometro .voltas{
    /* display: none; */
    flex-grow: 1;
    transition: 1s;
    background-color: var(--bgcolor);
    margin: 20px;
    margin-top: 30px;
    border-radius: 10px;
    height: 200px;
    color: white;
    overflow-y: scroll;
}

.cronometro .voltas::-webkit-scrollbar {
    width: 20px;
    padding: 5px;
    scroll-behavior: smooth;
}

.cronometro .voltas::-webkit-scrollbar-thumb {
    background-color: #201940;
    border-radius: 50px;
}

.cronometro .voltas h2 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.cronometro .voltas ul {
    list-style: none;
    margin-top: 20px;
}

.cronometro .voltas li {
    margin: 5px 0;
}

.cronometro .voltas span {
    font-size: 10px;
}

.cronometro .buttonlist i {
    display: none;
}

.cronometro .buttonlist .play {
    display: block;
} 

@keyframes alarme {
    0% {transform: rotate(0)}
    20% {transform: rotate(1deg)}
    30% {transform: rotate(-1deg)}
    40% {transform: rotate(1deg)}
    50% {transform: rotate(-1deg)}
    60% {transform: rotate(1deg)}
    70% {transform: rotate(-1deg)}
    80% {transform: rotate(1deg)}
    100% {transform: rotate(0)}
}